	/*
  	Flaticon icon font: Flaticon
  	Creation date: 17/07/2019 10:21
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff2") format("woff2"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
font-style: normal;
}

.flaticon-buddhist-yoga-pose:before { content: "\f100"; }
.flaticon-skipping-rope:before { content: "\f101"; }
.flaticon-skipping-rope-1:before { content: "\f102"; }
.flaticon-bike:before { content: "\f103"; }
.flaticon-bike-1:before { content: "\f104"; }
.flaticon-bike-2:before { content: "\f105"; }
.flaticon-boxing-fighter:before { content: "\f106"; }
.flaticon-man-punching:before { content: "\f107"; }